@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Wesser Applicants WebApp</h1>
    <p>Learn more about Wesser <a href="https://www.wesser.co.uk/">here!</a>.</p>
</div>
